* {padding: 0; margin: 0}

body {
    background-color: whitesmoke
}

#form {
    margin-top: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    background-color: whitesmoke;
}